.bg-footer {
    background: url('../../../assets/footer/bg_footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 78vh;
    font-family: 'Work Sans', sans-serif;
}