.bg-footer {
  background: url("../../../assets/footer/bg_footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40px;
  width: 100%;
  font-family: "Work Sans", sans-serif;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .bg-footer {
    background-size: cover;
    padding-bottom: 20px;
  }
}
